# An adaptation of Nicholas' notebook (00.0_tks_rv_target_selection.ipynb)

In [2]:
# System
import os

# Analysis
import numpy as np
import pandas as pd 
import astropy as ap
from scipy.stats import binned_statistic_dd
from scipy.stats import linregress
from astroquery.mast import Catalogs
#import mr_forecast as mr # Import not working after updating my computer for some reason

# io
from astropy.io import ascii

# Development
from pdb import set_trace
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Note re: mr_forecast package 
*Note adapted from Nicholas' original notebook.*

(Nicholas) replaced the [Chen & Kipping](https://arxiv.org/pdf/1603.08614.pdf) function with the strictly analytical relationship implemented in [Louie et al. 2018](https://arxiv.org/pdf/1711.02098.pdf), which runs more quickly and for our purposes is sufficient. **EXCEPT for planets with $R > R_J$**.

## Notebook purpose:
Select TESS planet candidates for RV follow-up with Keck, so that we can constrain their masses in preparation for JWST observations.

In [6]:
# The local directory where the toi csv files are located.
toi_dir = 'data/toi'

In [15]:
# The toi+ list filename
toi_list_fname = os.path.join(toi_dir, 'toi+-2019-10-29.csv')

# Read in the data
toi_df = pd.read_csv(toi_list_fname, comment="#")
toi_df.head() # Examine the first few rows to make sure it was read in correctly

,Source Pipeline,TIC,Full TOI ID,TOI Disposition,TIC Right Ascension,TIC Declination,TMag Value,TMag Uncertainty,Orbital Epoch Value,Orbital Epoch Uncertainty,...,Centroid Offset,TFOP Master,TFOP SG1a,TFOP SG1b,TFOP SG2,TFOP SG3,TFOP SG4,TFOP SG5,Alerted,Edited
0,spoc,144065872,105.01,KP,337.457199,-48.003087,9.480,0.020,1326.505990,0.000156,...,False,5,5,5,5,5,5,5,2018-09-05T18:49:20+00:00,2019-10-17 00:41:47.471372+00:00
1,qlp,147203645,166.01,PC,323.195894,-44.017794,10.696,0.018,1326.384240,0.002100,...,False,3,4,3,3,4,4,4,2018-09-05T18:52:24+00:00,2019-10-17 00:41:46.780732+00:00
2,spoc,231670397,104.01,KP,319.949611,-58.148876,9.848,0.018,1327.673462,0.000842,...,False,5,5,5,5,5,5,5,2018-09-05T18:49:20+00:00,2019-10-17 00:41:44.380089+00:00
3,qlp,271893367,150.01,PC,112.965695,-73.606125,10.865,0.019,1326.278380,0.001390,...,False,3,4,3,3,4,4,4,2018-09-05T18:34:59+00:00,2019-10-18 21:38:54.240261+00:00
4,qlp,260985861,149.01,PC,76.635855,-80.768181,10.140,0.018,1327.402260,0.002000,...,False,1,4,1,1,4,4,4,2018-09-05T18:35:00+00:00,2019-10-18 21:39:04.252414+00:00

In [12]:
exofop_df = pd.read_csv(os.path.join("data/exofop", "exofop_search2019-10-29_combined.csv"))

In [19]:
exofop_df.tail()

,Unnamed: 0,Target,RA,Dec,Teff (K),Stellar Radius (R_Sun),Stellar Mass (M_Sun),V mag,J mag,H mag,K mag
1579,787,460205581,157.037281,-64.505211,6104.00,1.006930,1.15,10.635,9.392,9.108,8.933
1580,788,460984940,159.341221,-63.655692,5464.00,0.896313,0.96,9.412,8.071,7.728,7.640
1581,789,461271719,203.166643,-38.845947,7476.00,2.629830,1.72,9.009,8.493,8.380,8.367
1582,790,468880077,56.504694,9.990299,5210.75,0.796856,0.89,10.236,8.688,8.305,8.207
1583,791,468987719,128.925689,10.206587,5680.35,1.106200,1.01,13.279,12.146,11.809,11.764

In [17]:
len(toi_df)

1289

In [18]:
len(exofop_df)

1584

In [20]:
pd.merge?